.footer{
    position: relative;
    width: 100vw;
    height: 354px;
    top:-1px;
    background-color: $green;
    

    .login &, .onboarding &{
        background-color: $pastel;
        height: 140px;

        @media screen and (min-width: $m) {
            height: 80px;
        }
    }
    .onboarding &{
        background-color: $green;
    }

    .btn--scroll{
        position: absolute!important;
        right: 21px;
        top: 27px;
        .login &, .onboarding &{
            display: none;
        }
    }

    .footer--data{
        position: absolute;
        bottom: 0;
        padding-bottom: 42px;
        color: white;
        width: 100%;
        text-align: center;

        &:before{
            content: '';
            width: 100%;
            height: 1px;
            background-color: $orangelight;
            top: -25px;
            position: absolute;
            left: 0;

            .login &, .onboarding &{
                top: -45px;
            }
        }
        
        a, p{
            color: white;

            .login &{
                color: $green;
            }
        }

        @media screen and (min-width: $m) {
            padding-bottom: 27px;
        }
    }

    .footer--links{
        .login &, .onboarding &{
            display: none;
        }
        margin-bottom: 37px;

        li{
            display: inline-block;
            position: relative;
            overflow: hidden;

            &:first-child{
                margin-right: 54px;
            }

            &:hover{
                a{
                    color: $orange;
                }
        
                &:after{
                  transform: translateX(0%);
                }
              }
              &:after{
                content: '';
                width: 100%;
                height: 1px;
                position: absolute;
                background-color: $orange;
                bottom: 0px; 
                left: 0;
                transform: translateX(100%);
                transition: all 0.2s ease-in-out;
              }
        }
        @media screen and (min-width: $m) {
            margin-bottom: 0px;
        }
    }

    .footer--address{
        margin-bottom: 12px;
        li, p {
            display: inline;
            font-size: 14px;
        }
        @media screen and (min-width: $m) {
            margin-bottom: 0px;
            right:80px;
            bottom:27px;
            position: absolute;
        }
    }

    .date{
        font-size: 14px;
        @media screen and (min-width: $m) {
            left:80px;
            bottom: 27px;
            position: absolute;
        }
    }

    @media screen and (min-width: $m) {
        height: 240px;
    }
}
  